<div fxLayout="row wrap" [style.background]="data.bgColor" style="padding-left: 5px;margin: 0px; ">
  <div fxLayout="column" fxLayoutAlign="space-around center" class="noteDisplaySetting" [style.background]="data.bgColor">

    <input type="text" placeholder="Title" class="tit" [(ngModel)]="title">
    <input type="text" placeholder="description" class="des" [(ngModel)]="description">

    <div style="display: flex;">
      <app-icons class="icn" [notedata]="data" (updateEvent)="autoref($event)"></app-icons>
      <button (click)="onNoClick()" class="closeButton">update</button>
    </div>

  </div>

</div>