.borderStyle{

    border: 1px solid gray;
    // width: 30%;
    border-radius: 8px;
    // height:60vh; 
    width:35%
  }

.buttonStyleforNext
    {
      // border: 0px;
      color: white;
      background-color: blue;
      height: 40px;width: 100px;
      border-radius: 6px;
      margin: 14px;
      border:none
    }
    .title{

    font-size: xx-large;
    }
    .designEmailreset{
      width: 70%;
    }
 